<div class="row align-items-center">  
  <div class="col col-md-4">
    <h2>Products</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-8 float-left">
      <!-- Distributor Area-->
      <div class="row">
        <div class="form-group col-md-4">
            <select [(ngModel)]="searchBrandId" name="product_brandId" #product_brandId="ngModel" class="form-control form-control-sm" id="product_brandId">
                <option value="0">All Brands</option>
                <option *ngFor="let productBrand of productBrands" [ngValue]="productBrand.id">{{productBrand.name}}</option>
            </select>
        </div>     
      </div>
  </div>
  <div class="col col-md-2 float-right  ">
      <a class="btn btn-sm btn-info float-right" routerLink="/product/new" role="button">New Product</a>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <table class="table table-sm table-bordered ">
      <thead>
        <tr>
          <th scope="col">#Id</th>
          <th scope="col">Name</th>
          <th scope="col">Short name</th>
          <th scope="col">Product brand</th>
          <th> 1 Unit (liter,kg)  price </th>
          <th scope="col">Unit of measure</th>
          <th scope="col">Quantiry : Price</th>
          <th scope="col">Distributed in area </th>
          <th scope="col">Operation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products | productByBrand:searchBrandId">
          <th scope="row" >{{product.id}}</th>
          <td>{{product.name}}</td>
          <td>{{product.shortName}}</td>
          <td>{{product.brandName}}</td>
          <td>
            selling price: {{product.sellingPrice}}
            <br/>
            purchase price : {{product.purchasePrice}}
          </td>
          <td>{{product.unitOfMeasure}}</td>
          <td>
            <span *ngFor="let productQuantityPrice of product.productQuantityPriceDTOList">
                Quantity: {{productQuantityPrice.quantity }} {{product.unitOfMeasure}} price: {{productQuantityPrice.sellingPrice}} , 
            </span>
          </td>
          <td>
              <span *ngFor="let distributorArea of product.distributorAreaDTOList">
                {{distributorArea.name }} 
              </span>
          </td>
          <td>
            <a class="btn btn-sm btn-primary ml-1" routerLink="/product/edit/{{product.id}}" role="button">edit</a>
            <a class="btn btn-sm btn-primary ml-1" routerLink="/product/{{product.id}}/weight-price" role="button">prices by weight</a>
            <button type="button" class="btn btn-sm btn-danger ml1" (click)="delete(product)">delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
