<div class="row">  
  <div class="col col-md-4">
    <h2>shopkeepers</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6 float-left">
    <!-- Distributor Area-->
    <div class="row">
      <div class="form-group col-md-4">
         <select [(ngModel)]="searchDistAreaId" name="shopkeeper_searchDistAreaId" #shopkeeper_searchDistAreaId="ngModel" class="form-control form-control-sm" id="shopkeeper_searchDistAreaId">
              <option *ngFor="let distributorArea of distributorAreas" [ngValue]="distributorArea.id">{{distributorArea.name}}</option>
          </select>
      </div>     
      <div class="form-group  col-md-2">
        <button (click)='search()' class="btn btn-sm btn-primary">search</button>
      </div>
    </div>
  </div>
  <div class="col-md-2 float-right">
    <h2 class="float-right">
      <a class="btn btn-sm btn-info" routerLink="/shopkeeper/new" role="button">New shopkeeper</a>
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <table class="table table-sm table-bordered ">
      <thead>
        <tr>
          <th scope="col">#Id</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col"> Area Name</th>
          <th scope="col"> Distributor Name</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr scope="row" *ngFor="let shopkeeper of shopkeepers">
          <td scope="col"  >{{shopkeeper.id}}</td>
          <td scope="col">{{shopkeeper.name}}</td>
          <td scope="col">{{shopkeeper.address}}</td>
          <td scope="col">{{shopkeeper.distributorAreaName}}</td>
          <td scope="col">{{shopkeeper.distributorName}}</td>
          <td scope="col">
            <a class="btn btn-sm btn-primary" routerLink="/shopkeeper/edit/{{shopkeeper.id}}" role="button">edit</a>
            <button class="btn btn-sm btn-danger ml-2" (click)='delete(shopkeeper)' role="button">delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
