<form (ngSubmit)="onSubmit()" #ordersSearchForm="ngForm">
  <div class="row">
    <div class="col-md-2">
      <label>Date
      </label>
        <i class="fas fa-arrow-left" (click) ="changeDate(-1)" style="color:#4286f4;padding-left:10px"></i>   
        <i class="fas fa-arrow-right" (click) ="changeDate(1)" style="color:#4286f4;padding-left:10px"></i>
      <input required type="date" (change)="onSubmit()" [(ngModel)]="ordersSearch.date" name="date" class="form-control-sm form-control" id="date" placeholder="Select date">
    </div>
    <div class="col-md-2">
        <label for="name">Distributor Area</label>
        <select required  (change)="onSubmit()" [(ngModel)]="ordersSearch.distributorAreaId" name="distributorAreaId" #distributorAreaId="ngModel" class="form-control-sm form-control" id="distributorAreaId">
            <option *ngFor="let distributorArea of distributorAreas" [ngValue]="distributorArea.id">{{distributorArea.name}}</option>
        </select>
    </div>
    <div class="col-md-6" *ngIf="loading == true" align="center">
        <i class="fas fa-spinner fa-spin fa-2x fa-fw mt-4
       float-right" align="center"></i>
    </div>
  </div>
</form>
<div class="row">

  <div class="col-md-8 float-left pb-2">
  <form (ngSubmit)="newOrderFormOnSubmit()" class="form-row" #newOrderForm="ngForm" *ngIf="toggleAddByWeight == true" >
      <div class="col-md-2">
        <label>Shopkeeper *</label>
        <select required [(ngModel)]="newOrder.shopkeeperId" name="shopkeeperId" #shopkeeperId="ngModel" class="form-control form-control-sm" id="shopkeeperId">
            <option *ngFor="let shopkeeper of shopkeepers" [ngValue]="shopkeeper.id">{{shopkeeper.name}}</option>
        </select>
     </div>
      <div class="col-md-2">
          <label for="name">Product *</label>
          <select required [(ngModel)]="newOrder.productId" (change) = "setProductWeightPrices()" name="productId" #productId="ngModel" class="form-control form-control-sm" id="productId">
              <option *ngFor="let product of products" [ngValue]="product.id">{{product.shortName}}</option>
          </select>
      </div>
      <div class="col-md-2">
          <label for="name">Weight *</label>
          <select required [(ngModel)]="newOrder.productWeightPriceId" name="productWeightPriceId" #productWeightPriceId="ngModel" class="form-control form-control-sm" id="productWeightPriceId">
              <option *ngFor="let qPrice of productWeightPrices" [ngValue]="qPrice.id">{{qPrice.weight}} - {{qPrice.sellingPrice}}</option>
          </select>
      </div>
      <div class="col-md-2">
          <label for="name">Quantity *</label>
          <input required type="number" [(ngModel)]="newOrder.quantity" name="quantity" class="form-control-sm form-control" id="quantity" >
      </div>
      <div class="col-md-2 ">
          <label> Operation</label>
          <div>
            <button type="submit" class="btn btn-sm btn-success"
            [disabled]="!newOrderForm.form.valid">Submit</button>
            <button type="button" (click)="toggleAddByWeight=!toggleAddByWeight" class="btn btn-sm btn-secondary ml-2">
                Cancel
            </button>
          </div>
      </div>
  </form>
  <form (ngSubmit)="customPriceFormOnSubmit()" #customPriceForm="ngForm" *ngIf="toggleCustomPrice == true" style="margin-bottom: 5px" >
      <div class="form-row">
        <div class="col-md-2">
            <label for="name">Shopkeeper Name</label>
            <div>
              {{customPrice.shopkeeperName}}
            </div>
        </div>
        <div class="col-md-2">
            <label for="name">Product Name</label>
            <div>
              {{customPrice.productName}}  
              <span *ngIf="customPrice.productWeight!=null">( {{customPrice.productWeight}} )</span>
            </div>
        </div>
        <div class="col-md-2">
            <label for="name">Custom price *</label>
            <input required type="number" [(ngModel)]="customPrice.price" name="price" class="form-control-sm form-control" id="price" placeholder="Enter price">
        </div>
        <div class="col-md-2">
          <label> Operation</label>
          <div>
            <button type="submit" class="btn btn-sm btn-success ml-2">
              <span *ngIf="customPrice.id !=null">Update</span>
              <span *ngIf="customPrice.id == null">Add</span>
            </button>
            <button type="button" (click)="toggleCustomPrice=!toggleCustomPrice" class="btn btn-sm btn-secondary ml-2">
                Cancel
            </button>
          </div>
        </div>
      </div>
  </form>
  <form (ngSubmit)="areaPriceFormOnSubmit()" #customPriceForm="ngForm" *ngIf="toggleAreaPrice == true" style="margin-bottom: 5px" >
    <div class="form-row">
      <div class="col-md-2">
          <label for="name">Product Name</label>
          <div>{{prodAreaPrice.productName}}</div>
      </div>
      <div class="col-md-2">
          <label for="name">Custom price *</label>
          <input required type="number" [(ngModel)]="prodAreaPrice.price" name="price" class="form-control-sm form-control" id="price" placeholder="Enter price">
      </div>
      <div class="col-md-2">
        <label> Operation</label>
        <div>
          <button type="submit" class="btn btn-sm btn-success ml-2">
            <span>Update</span>
          </button>
          <button type="button" (click)="toggleAreaPrice=!toggleAreaPrice" class="btn btn-sm btn-secondary ml-2">
              Cancel
          </button>
        </div>
      </div>
    </div>
  </form>  
</div>
  <div class=" col-md-4 pb-2 " *ngIf="orderGridData != null">
      <div class="row">
        <div class="col-md-12">
          <div class="float-right  pl-2">
            <button type="button" class="btn-sm btn-info" (click)="applyLatestPrices()">Apply prices</button>
          </div>
          <div class="float-right  pl-2">
            <button type="button" class="btn-sm btn-primary" (click)="onSubmit()"><i class="fas fa-sync-alt"></i>   Refresh </button>
          </div>
          <div class="float-right  pl-2" >
              <button type="button" class="btn-sm btn-success" (click)="toggleAddByWeight= !toggleAddByWeight"> Add by weight</button>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-md-12 ">
          <div class="float-right pl-2">
            <button type="button" *ngIf="orderGridData.hasFutureOrder == false" class="btn-sm btn-danger" (click)="deleteDayOrder()"> 
                <i class="fas fa-trash-alt"></i>
                Delete</button>
          </div>
          <div class="float-right ">
              <button type="button"  class="btn-sm btn-warning" (click)="print()"><i class="fa fa-print" (click)="print()" aria-hidden="true"></i> Print</button>        
          </div>
        </div>
      </div>
  </div>
    
</div>
<div class="row" *ngIf="searched ==true && orderGridData == null ">
  <div class="col-md-12">
      <span>
        Order not present on date {{ordersSearch.date}}. Click 
        <button type="button" class="btn btn-sm btn-info ml-1" (click)="createDailyOrder()">Create daily order</button>
        <button type="button" class="btn btn-sm btn-warning ml-2" (click)="createOrderAsYesterday()">Copy yesterdays order</button>
        
      </span>
  </div>
</div>
<div class="row" *ngIf="orderGridData !=null ">
    <div class="col-md-12">
      <div class="col-md-6" *ngIf="loading == true" align="center">
          <i class="fas fa-spinner fa-spin fa-2x fa-fw mt-4
          float-right" align="center"></i>
      </div>    
      <table *ngIf="loading == false"  class="table table-sm table-bordered ">
        <thead>
          <tr class="header-background">
            <th>Shopkeepers</th>
            <th *ngFor="let product of orderGridData.productDTOS">
              {{product.shortName}} ( <u (click)="showAreaPrice(product)">
                <i title="set selling price" style="color: blue;cursor:pointer;font-size: small;" class="pl-2">
                  {{getProductPrice(product)}}
                </i>
                </u>  )

            </th>
            <th>Total Amount</th>
            <th>Paid Amount</th>
            <th>Due Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let shopkeeperOrder of orderGridData.dailySellRowDataDTOList">
              <td *ngIf="shopkeeperOrder.shopkeeperOrderDTO == null"  attr.colspan="{{headerCount}}" height="30px"></td>
              <td class="table-light" *ngIf="shopkeeperOrder.shopkeeperOrderDTO !=null">{{shopkeeperOrder.shopkeeperOrderDTO.shopkeeperName}}
                  {{shopkeeperOrder.shopkeeperOrderDTO.rowSeparator}}
                    <i class="fas fa-copy" style="display: none" (click)="copyYesterdayOrder(shopkeeperOrder.shopkeeperOrderDTO.id)" title="copy yesterday order"></i>
              </td>
              
                <td *ngFor="let order of shopkeeperOrder.orderProductDTOS" >
                  
                 
                  <input required type="number" 
                  [(ngModel)]="order.quantity" name="quantity" #orderId{{order.id}}
                    class='home-grid-input' id="quantity{{order.id}}"
                  (change)="onChangeUpdateOrder(order, shopkeeperOrder.shopkeeperOrderDTO)"> 
                  <span (click)="manageCustomPrice(order, shopkeeperOrder.shopkeeperOrderDTO)">
                    <span *ngIf="order.customPriceId != null">*</span>
                    <u><i title="selling price {{order.sellingPrice}}" style="color: blue;cursor:pointer;" class="pl-2">I</i></u>
                  </span>
                  <span *ngIf="currentFocusInput == order.id"></span>
                  <div *ngIf="order.byWeightOrders !=null" style="padding-top:5px;">
                      <div *ngFor="let orderByWeight of order.byWeightOrders">

                        <input required type="number" class="home-grid-input"
                        [(ngModel)]="orderByWeight.quantity" name="orderByQuantity" 
                        class='home-grid-input' id="quantity{{orderByWeight.id}}"
                        (change)="onChangeUpdateOrder(orderByWeight, shopkeeperOrder.shopkeeperOrderDTO)">
                        <span (click)="manageCustomPrice(orderByWeight, shopkeeperOrder.shopkeeperOrderDTO)">
                          <span *ngIf="orderByWeight.customPriceId != null">*</span>
                          <u><i title="selling price {{orderByWeight.sellingPrice}}" class="pl-2" style="color: blue;cursor: pointer;">I</i></u>
                        </span>
                      </div>
                  </div>
                </td>
                <td class="table-light" *ngIf="shopkeeperOrder.shopkeeperOrderDTO !=null"> <!-- Today: {{shopkeeperOrder.shopkeeperOrderDTO.totalAmount}} <br/> --> 
                  {{shopkeeperOrder.billTotalPrice}}
                </td>
                <td class="table-light" *ngIf="shopkeeperOrder.shopkeeperOrderDTO !=null">
                    <input required type="number" 
                    [(ngModel)]="shopkeeperOrder.shopkeeperOrderDTO.paidAmount" name="paidAmount" 
                    style="width:100px" id="paidAmount{{shopkeeperOrder.shopkeeperOrderDTO.id}}"
                    (change)="updatePaidOrder(shopkeeperOrder.shopkeeperOrderDTO)">
                </td>
                <td class="table-light" *ngIf="shopkeeperOrder.shopkeeperOrderDTO !=null">
                  <!-- {{shopkeeperOrder.shopkeeperOrderDTO.dueAmount}} -->
                  {{shopkeeperOrder.billDuePrice}}
                </td>
            </tr>
            <tr class="header-background">
              <td><strong>Total</strong></td>
              <td *ngFor="let totalRow of orderGridData.dailySellGridTotalDTOS">
                <div *ngFor="let weightTotal of totalRow.totalByWeight">
                    <label>{{weightTotal.totalItems}} 
                      <span *ngIf="weightTotal.weight !=1"> 
                        <span style="display:none">( {{weightTotal.weight * 1000 }} ml )</span>
                      </span>
                    </label>
                </div>  
              </td>
              <td><label>{{orderGridData.grandTotalAmount}}</label></td>
              <td><label>{{orderGridData.grandTotalPaidAmount}}</label></td>
              <td><label>{{orderGridData.grandTotalDueAmount}}</label></td>
            </tr>
        </tbody>
      </table>
    </div>
</div>

<div id="ordersPrintDiv" style="display: none">
    <div class="row" style="display: block ">
        <div class="col-md-6">
              <div><b>Line :</b> {{getDistributorName()}}</div>
              <div><b>Date :</b> {{ordersSearch.date}}</div>
        </div>
      </div>
    <div class="row" *ngIf="searched && orderGridData !=null ">
        <div class="col-md-12">
          <table class="table table-sm table-bordered">
            <thead>
              <tr>
                <th width="120px;background:gray;">Shopkeepers</th>
                <th width="90px" *ngFor="let product of orderPrintGridData.dailySellRowDataDTOList[0].orderProductDTOS">
                  {{product.productShortName}} {{product.productBrandShortName}}
    
                </th>
                <th width="110px">Total Amount</th>
                <th width="110px">Paid Amount</th>
                <th width="110px">Due Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let shopkeeperOrder of orderPrintGridData.dailySellRowDataDTOList">
                  <td *ngIf="shopkeeperOrder.shopkeeperOrderDTO == null"  attr.colspan="{{headerCount}}" height="30px"></td>
                  <td *ngIf="shopkeeperOrder.shopkeeperOrderDTO !=null">{{shopkeeperOrder.shopkeeperOrderDTO.shopkeeperName}}</td>
                    <td *ngFor="let order of shopkeeperOrder.orderProductDTOS">
                      <span *ngIf="order.quantity != 0">{{order.quantity}}
                        <span *ngIf="order.customPriceId != null">*</span>
                      </span>
                      

                      <span *ngIf="currentFocusInput == order.id"></span>
                      <div *ngIf="order.byWeightOrders !=null" style="padding-top:5px;">
                          <div *ngFor="let orderByWeight of order.byWeightOrders">
                            <span *ngIf="orderByWeight.quantity > 0">{{orderByWeight.quantity}}
                                <span *ngIf="orderByWeight.customPriceId != null">*</span>
                            </span>
                            
                          </div>
                      </div>
                    </td>
                    <td *ngIf="shopkeeperOrder.shopkeeperOrderDTO !=null"><!-- Today: {{shopkeeperOrder.shopkeeperOrderDTO.totalAmount}} <br/> -->
                      {{shopkeeperOrder.billTotalPrice}}
                    </td>
                    <td *ngIf="shopkeeperOrder.shopkeeperOrderDTO !=null">
                      {{shopkeeperOrder.shopkeeperOrderDTO.paidAmount}}
                    </td>
                    <td *ngIf="shopkeeperOrder.shopkeeperOrderDTO !=null">
                      <!-- {{shopkeeperOrder.shopkeeperOrderDTO.dueAmount}} -->
                      {{shopkeeperOrder.billDuePrice}}
                    </td>
                </tr>
                <tr>
                  <td ><strong>Total</strong></td>
                  <td *ngFor="let totalRow of orderGridData.dailySellGridTotalDTOS">
                    <div *ngFor="let weightTotal of totalRow.totalByWeight">
                        <label>{{weightTotal.totalItems}} 
                          <span *ngIf="weightTotal.weight !=1"> 
                            <span style="display:none">( {{weightTotal.weight * 1000 }} ml )</span>
                          </span>
                        </label>
                    </div>  
                  </td>
                  <td><label>{{orderGridData.grandTotalAmount}}</label></td>
                  <td><label>{{orderGridData.grandTotalPaidAmount}}</label></td>
                  <td><label>{{orderGridData.grandTotalDueAmount}}</label></td>
                </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>