<form class="form-horizontal col-md-6 center" (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="row">
        <div class="col-md-12">
            <h2>Login</h2>
            <hr>
            <div class="form-group" style="margin-left: 2.6em">
                    <span class="alert alert-danger" *ngIf="message !=null">{{message}}</span>            
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.6rem">
                            <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                    <input type="text" required [(ngModel)]="login.username" #username="ngModel" name="username" class="form-control"
                           id="username" placeholder="username" required>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group has-danger">
                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                    <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                    <input type="password" required [(ngModel)]="login.password" #password="ngModel" name="password" class="form-control" id="password"
                           placeholder="Password" required>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-success" style="margin-left: 2.6em">
                <i class="fas fa-spinner fa-spin fa-1x fa-fw " *ngIf="loading == true" align="center"></i>
                Login
            </button>            
        </div>
    </div>
</form>